<% include ../partials/header %>
<div id="show">
	<div class="container">
	    <div class="question"><h1><%= student.question %></h1></div>
	    <div class="">
	        <div class="description">
	            <p><%= student.description %></p> 
	        </div>
	    </div>

	    <div class="comment-btn">
	    	<a class="btn btn-primary" href="/it_forum/<%= student._id %>/comments/new">Reply</a>
	    </div>

	    <div class="comments-answers">
	    	<h3> Answers </h3>
		</div>


		    <% student.comments.forEach(function(comment){ %>
		   <div class="comments-live">
		    	<p>
		    		<a class ="user" href="#"><%= comment.author %></a> - Replied on <%= student.created.toDateString() %>        <%= student.created.toLocaleTimeString() %>
		    	</p>		
		    	<div class ="comment-text">
		    		<%= comment.text %>
		    	</div>   
			<% }); %>
		</div>

	   <!-- 	<div class="buttons">
		   	<span><a class="btn btn-primary" href="/it_forum/<%= student._id %>/edit" role="button">Edit this post</a></span>
		    
		    <span><form id="delete" action="/it_forum/<%= student._id %>?_method=DELETE" method="POST">
		        <button class="btn btn-danger">Delete</button>
		    </form></span>
		</div> -->
	</div>	    
</div>
<% include ../partials/footer %>

